.export-dropdown {
  position: relative;
}

.export-dropdown:hover .dropdown-menu,
.export-dropdown:focus-within .dropdown-menu {
  display: block;
}

.export-dropdown.disabled {
  pointer-events: none;
}

.dropdown-menu {
  min-width: 8rem;
}
